<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 m-3">
      <%= form_with(model: [@confession_queue, @scheduling]) do |form| %>
        <%= form.time_select :hour, minute_step: 15,
                                    ignore_date: true,
                                    start_hour: @confession_queue.start_time.hour,
                                    end_hour: @confession_queue.end_time.hour%>
        <%= form.submit "Cadastrar", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
